body {
	font-family: sans-serif;
}

.cards {
	display: flex;
	justify-content: center;
}

article {
	max-width: 30%;
	border: 1px solid lightblue;
	display: inline-block flex;
	margin: 1.5%;
	justify-content: center;
	box-shadow: 3px 3px 5px rgba(0,0,0,.5);
}

img {
	display: block;
	max-height: 200px;
	margin: auto;
}

.title {
	border: 1px dotted lightgray;
	text-align: center;
}

.description {
	text-align: justify;
	padding: 0px 5px;
}

.specs p {
	font-weight: bold;
	padding: 0 0;
	margin: 0;
}

.availability {
	background-color: darkgrey;
	color: yellow;
	max-width: 100%
}

.spec-valid {
	font-size: .5em;
}
